*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}

.heading{
    display: flex;
    justify-content: center;


}
.heading h1{
margin: 20px 0px;

}
.select{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
}