<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostellers.Online Mess</title>
       <link rel="icon" type="image/x-icon" href="img/icons8-room-64.png" />
    <link rel="stylesheet" href="mess.html">
</head>
<body style="display:flex;flex-direction:column;height:100vh">
    {{>header}}
    <div class="heading">
        <h1>Choose your nearest perfect tiffin or mess service</h1>
    </div>
    {{>footer}}
</body>
</html>