<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostellers.Online Room</title>
        <link rel="icon" type="image/x-icon" href="img/icons8-room-64.png" />
    <link rel="stylesheet" href="css/room.css">
</head>
<body style="display:flex;flex-direction:column;height:100vh;background: url(img/main_bg.png);">
    {{>header}}

<div class="container">
<div class="box">
<h2>Find your perfect Rental Room</h2>
<div class="container-item">
<p>State Your College State </p>
<select name="state" id="StateResult" onchange= "sendData(this , CityResult)" >
<option value="">Select State</option>
</select>
</div>
<div class="container-item">
<p>Select Your College City</p>
    <select name="city" id="CityResult">
 <option value="">Select City</option>  
</select>
</div>
<div class="container-item">
<p>Select Your College</p>
    <select name="state" id="#">
 <option value="">Select College</option> 
</select>
</div>

<button id="submit">Find Best Rooms</button>
</div>
</div>

{{>footer}}












<script>
    const StateResult =document.getElementById('StateResult');
window.onload = function(){
    fetch('getState', {
        method:'POST'
    }).then(res => res.json()).then(data=>{
        if(data.length <1){
            console.lop("Error")
        }
        data.forEach((item, index)=>{
            if(index>0) StateResult.innerHTML += `<option>${item}</option>`;

        })
        return;
    })
}

function sendData(e ,f){
    fetch('getCity' , {
        method: 'POST',
        headers : {'Content-Type':'application/json'},
        body: JSON.stringify({payload: e.value})
    }).then(res=> res.json()).then(data=>{
        let payload = data.payload;
        console.log(payload);
    })
    
}
</script>
</body>
</html> 