<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostellers.Online Services</title>
    <link rel="icon" type="image/x-icon" href="img/icons8-room-64.png" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/services_style.css">
</head>
<body>
  {{>header}}
<div class="heading">
    <h1>We Give Following Services</h1>
</div>

  
<div class="serve">

    <div class="serve_item">
  <img id="rent" width="250px" src="img/rent.png" alt="rents">
  <h2>Rooms On Rent</h2>
  <a style="text-decoration: none;color:white" target="blank" href="room"> <button class="buzz-out-on-hover">Find now<img src="img/icons8-linking-24.png" width="12px"></button></a>
    </div>
  
  
  <div class="serve_item" style="padding:40px 50px">
  <img id="mess" width="220px" src="img/mess.png" alt="mess">
  <h2>Mess & Tiffins</h2>
  
  <a style="text-decoration: none;color:white" href="services.html" target="mid"><button class="buzz-out-on-hover">Find now<img src="img/icons8-linking-24.png" width="12px"></button></a>
    </div>
  

    <div class="serve_item" style="padding:40px 50px">
        <img id="mess" width="220px" src="img/mess.png" alt="mess">
        <h2>Mess & Tiffins</h2>
        
        <a style="text-decoration: none;color:white" href="services.html" target="mid"><button class="buzz-out-on-hover">Find now<img src="img/icons8-linking-24.png" width="12px"></button></a>
          </div>
          <div class="serve_item" style="padding:40px 50px">
            <img id="mess" width="220px" src="img/mess.png" alt="mess">
            <h2>Mess & Tiffins</h2>
            
            <a style="text-decoration: none;color:white" href="services.html" target="mid"><button class="buzz-out-on-hover">Find now<img src="img/icons8-linking-24.png" width="12px"></button></a>
              </div>  <div class="serve_item" style="padding:40px 50px">
                <img id="mess" width="220px" src="img/mess.png" alt="mess">
                <h2>Mess & Tiffins</h2>
                
                <a style="text-decoration: none;color:white" href="services.html" target="mid"><button class="buzz-out-on-hover">Find now<img src="img/icons8-linking-24.png" width="12px"></button></a>
                  </div>  <div class="serve_item" style="padding:40px 50px">
                    <img id="mess" width="220px" src="img/mess.png" alt="mess">
                    <h2>Mess & Tiffins</h2>
                    
                    <a style="text-decoration: none;color:white" href="services.html" target="mid"><button class="buzz-out-on-hover">Find now<img src="img/icons8-linking-24.png" width="12px"></button></a>
                      </div>
  </div>
  
  <div class="nothing">
    <img src="img/1.png" height="50px" alt="" />
  </div>
    

{{>footer}}

</body>
</html>