<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Document</title> -->
    <meta charset="utf-8" />
    <!-- <title>HostellersOnline.com</title> -->
    <link rel="icon" type="image/x-icon" href="img/icons8-room-64.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <footer>
      <div class="footer1">
        <h1>Hostellers</h1>

        <h2>online</h2>

        <p>Be Smart Be Fast</p>
      </div>
      <div class="hr"><img src="img/icons8-vertical-line-30.png" alt="" /></div>
      <div class="social">
        <p>Connect with us</p>
        <br />
        <div>
          <a href="#"><img
              src="img/icons8-facebook-50.png"
              width="30px"
              alt="FB"
            /></a>
          <a
            target="_blank"
            href="https://instagram.com/__lu.c.ky__?igshid=YmMyMTA2M2Y="
          ><img src="img/icons8-instagram-50.png" width="30px" alt="IG" /></a>
          <a href="#"><img
              src="img/icons8-telegram-50.png"
              width="30px"
              alt="TG"
            /></a>
          <a href="#"><img
              src="img/icons8-whatsapp-50.png"
              width="30px"
              alt="wa"
            /></a>
        </div>
      </div>
      <div class="hr"><img src="img/icons8-vertical-line-30.png" alt="" /></div>

      <div class="contact">
        <p>Call Us</p>
        <br/>
        <p>+91 738 9507 945</p>
      </div>
    </footer>
  </body>
</html>